<h1>Professeur</h1>
<nav class="topmenu">
    <ul>
        <li><button class="btn btn-light"><i class="icon fas fa-upload"></i><span>Importer</span></button></li>
        <li><button class="btn btn-light"><i class="icon fas fa-upload"></i><span>Exporter</span></button></li>
        <li>
            <form class="searchbar"><input class="control" type="search" placeholder="Rechercher par nom" /><button
                    class="btn"><i class="fas fa-search"></i></button></form>
        </li>
    </ul>
</nav>
<section>
    <div id="row-count">
        <p><span>Afficher</span><select>
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select><span>résultats</span></p>
    </div>
    <div id="pagination">
        <div class="previous"><button class="btn btn-secondary"><i class="fas fa-angle-left"></i></button></div>
        <div class="pages"><span class="btn btn-secondary active">1</span><span class="btn btn-secondary">2</span><span
                class="btn btn-secondary">3</span><span class="btn btn-secondary disabled">...</span><span class="btn btn-secondary">23</span><span
                class="btn btn-secondary">24</span></div>
        <div class="next"><button class="btn btn-secondary"><i class="fas fa-angle-right"></i></button></div>
    </div>
    <div id="selection-controls"><button class="btn btn-tertiary"><i class="icon fas fa-trash-alt"></i><span>Supprimer
                la sélection</span></button><button class="btn btn-primary"><i class="icon fas fa-plus"></i><span>Ajouter
                un élément</span></button></div>
    <table>
        <thead>
            <tr>
                <td><input type="checkbox" /></td>
                <td>Id</td>
                <td>Nom</td>
                <td>Taux horaires</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" /></td>
                <td> 002</td>
                <td> Randria</td>
                <td> 8 €/hr</td>
                <td class="controls"><button class="btn btn-tertiary btn-rounded"><i class="fas fa-trash-alt"></i></button><button
                        class="btn btn-quaternary btn-rounded"><i class="fas fa-edit"></i></button><button class="btn btn-primary btn-rounded"><i
                            class="fas fa-file-alt"></i></button></td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td> 002</td>
                <td> Randria</td>
                <td> 8 €/hr</td>
                <td class="controls"><button class="btn btn-tertiary btn-rounded"><i class="fas fa-trash-alt"></i></button><button
                        class="btn btn-quaternary btn-rounded"><i class="fas fa-edit"></i></button><button class="btn btn-primary btn-rounded"><i
                            class="fas fa-file-alt"></i></button></td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td> 002</td>
                <td> Randria</td>
                <td> 8 €/hr</td>
                <td class="controls"><button class="btn btn-tertiary btn-rounded"><i class="fas fa-trash-alt"></i></button><button
                        class="btn btn-quaternary btn-rounded"><i class="fas fa-edit"></i></button><button class="btn btn-primary btn-rounded"><i
                            class="fas fa-file-alt"></i></button></td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td> 002</td>
                <td> Randria</td>
                <td> 8 €/hr</td>
                <td class="controls"><button class="btn btn-tertiary btn-rounded"><i class="fas fa-trash-alt"></i></button><button
                        class="btn btn-quaternary btn-rounded"><i class="fas fa-edit"></i></button><button class="btn btn-primary btn-rounded"><i
                            class="fas fa-file-alt"></i></button></td>
            </tr>
            <tr>
                <td><input type="checkbox" /></td>
                <td> 002</td>
                <td> Randria</td>
                <td> 8 €/hr</td>
                <td class="controls"><button class="btn btn-tertiary btn-rounded"><i class="fas fa-trash-alt"></i></button><button
                        class="btn btn-quaternary btn-rounded"><i class="fas fa-edit"></i></button><button class="btn btn-primary btn-rounded"><i
                            class="fas fa-file-alt"></i></button></td>
            </tr>
        </tbody>
    </table>
    <div id="pagination">
        <div class="previous"><button class="btn btn-secondary"><i class="fas fa-angle-left"></i></button></div>
        <div class="pages"><span class="btn btn-secondary active">1</span><span class="btn btn-secondary">2</span><span
                class="btn btn-secondary">3</span><span class="btn btn-secondary disabled">...</span><span class="btn btn-secondary">23</span><span
                class="btn btn-secondary">24</span></div>
        <div class="next"><button class="btn btn-secondary"><i class="fas fa-angle-right"> </i></button></div>
    </div>
</section>